* {
  margin: 0;
  padding: 0;
}

body, .container .banner, .container .step {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

body {
  background-image: url(../img/bg.jpg);
  background-attachment: fixed;
}

.header {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.76);
  z-index: 10;
}

.header > ul {
  padding: 0;
}

.header > ul li {
  display: inline-block;
  font-size: 18px;
  padding: 5px 10px;
}

.header > ul li a {
  text-decoration: none;
  color: rgba(242, 242, 242, 0.8);
}

.container {
  position: relative;
  top: 150px;
  margin: 0 auto;
  width: 100%;
  max-width: 1120px;
  margin-bottom: 40px;
  background: #3b3a3a;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.container .banner {
  background-image: url(../img/banner.jpg);
  width: 100%;
  height: 220px;
}

.container .reading-method {
  background: #fff;
}

.container .reading-method .item-group .item {
  padding: 10px 10px;
  height: 300px;
  cursor: pointer;
}

.container .reading-method .item-group .item:hover i {
  color: #EA7484;
}

.container .reading-method .item-group .item:hover p {
  color: #EA7484;
}

.container .reading-method .item-group p {
  text-align: center;
  display: block;
  padding: 10px 20px;
  font-size: 20px;
  color: rgba(78, 75, 75, 0.8);
}

.container .step {
  background-image: url(../img/step1.jpg);
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container .step .item-group {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.container .step .item-group .item {
  position: relative;
  top: 85px;
  width: 80%;
  height: 250px;
  background: #262525;
  -webkit-box-shadow: 0px 0px 15px 0px black;
          box-shadow: 0px 0px 15px 0px black;
}

.container .step .item-group .item h2, .container .step .item-group .item p {
  text-align: center;
  color: rgba(218, 210, 210, 0.8);
}

.container .step .item-group .item h2 {
  font-size: 36px;
}

.container .step .item-group .item p {
  display: block;
  padding: 10px 40px;
  font-size: 20px;
}

.container .article .item-group {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background: #3b3a3a;
  padding: 95px 40px 40px 40px;
}

.container .article .item-group h2 {
  padding-bottom: 10px;
  color: #EA7484;
}

.container .article .item-group p, .container .article .item-group a {
  color: rgba(218, 210, 210, 0.8);
  font-size: 18px;
  margin-bottom: 20px;
}

.container .article .item-group p span, .container .article .item-group a span {
  font-size: 14px;
  color: rgba(199, 196, 196, 0.44);
}

.container .article .item-group a:hover {
  color: #EA7484;
}

.container .pic-area {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container .pic-area .item-group {
  background: #fff;
  width: 100%;
}

.container .pic-area .item-group .item:first-child {
  -webkit-box-flex: 1.5;
  -webkit-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

.container .pic-area .item-group .item {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.container .pic-area .item-group .item img {
  width: 100%;
}

.container .pic-area .item-group .item p {
  display: block;
  padding: 0 40px;
  color: rgba(78, 75, 75, 0.8);
  font-size: 24px;
  margin-bottom: 15px;
}

.container .contact {
  text-align: center;
  font-size: 32px;
  color: rgba(218, 210, 210, 0.8);
  padding: 0 0 20px 0;
}

.container .contact i {
  margin: 5px;
}

.container .contact i:hover {
  color: #262525;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.item-group .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .item-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .container .banner {
    height: 450px;
  }
  .container .step .item-group {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .container .step .item-group .item {
    width: 40%;
  }
  .container .pic-area {
    padding: 0 30px 20px 30px;
  }
}

.icon {
  text-align: center;
  font-size: 54px;
  color: rgba(78, 75, 75, 0.8);
}
/*# sourceMappingURL=day04.css.map */