* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.st-bg-primary {
  color: #535353;
}

.st-color-secondary {
  color: #959595;
}

body {
  padding-top: 71px;
  font-family: PingFangTC-Regular, PingFangTC-Thin, PingFangTC-Semibold, Microsoft JhengHei, Glyphicons Halflings, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.banner img {
  width: 100%;
}

.space-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.padding-T-s {
  padding-top: 10px;
}

.padding-T-m {
  padding-top: 20px;
}

.padding-T-l {
  padding-top: 40px;
}

.padding-LR-s {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-LR-m {
  padding-left: 20px;
  padding-right: 20px;
}

.separator {
  border-right: 1px solid #808080;
}

.header {
  background: #282a46;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.header .header-content .logo {
  width: 148px;
  height: 37px;
}

.header .header-content .nav-group {
  padding: 5px 0;
}

.header .header-content .nav-group .nav-item {
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  padding: 0 8px;
}

.header .header-content .nav-group .nav-item a {
  color: #fff;
  font-size: 15px;
  padding-top: 3px;
  display: inline-block;
}

.header .header-content .nav-group .nav-item .user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  width: 27px;
  height: 27px;
}

.header .header-content .nav-group .nav-item .search {
  font-size: 20px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.header .header-content .nav-group .nav-item .search i {
  color: #ea7484;
}

.theme {
  position: fixed;
  background: #fff;
  width: 100%;
  padding: 5px 0;
  top: 37px;
  z-index: 99;
}

.theme .col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  cursor: pointer;
}

.theme .col a {
  color: #000;
  font-size: 18px;
  font-weight: bold;
}

.theme .col:hover a {
  color: #ea7484;
}

.st-container {
  width: 100%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .st-container {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .st-container {
    width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .st-container {
    width: 1200px;
  }
}

.filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.filter .filter-item {
  width: 80px;
  position: relative;
}

.filter .filter-item select {
  border: none;
  border-bottom: 1px solid #959595;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-weight: lighter;
  padding-left: 20px;
  width: 100%;
  font-size: 12px;
  line-height: 1.75;
  cursor: pointer;
}

.filter .filter-item > div {
  border-color: #959595 transparent transparent transparent;
  border-style: solid solid solid solid;
  border-width: 6px;
  height: 0px;
  width: 0px;
  position: absolute;
  top: 10px;
  right: 25px;
  cursor: pointer;
}

.breadcrumbs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.breadcrumbs li {
  position: relative;
  font-size: 16px;
  font-weight: lighter;
}

.breadcrumbs li + li {
  font-size: 18px;
  font-weight: bold;
}

.breadcrumbs li + li a {
  color: #000;
}

.breadcrumbs li + li::before {
  content: '>';
  position: absolute;
  left: -5px;
  top: -1px;
}

.activity .activity-group .activity-item {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.activity .activity-group .activity-item img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .activity .activity-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .activity .activity-group .activity-item {
    width: 33.33%;
  }
}
/*# sourceMappingURL=activity.css.map */